---
layout: archive
title: "PUBLICATIONS & RESEARCH"
permalink: /publications/
author_profile: true
---

My research and publications span data science, machine learning and statistical analysis using large-scale real-world health data. 
This work includes longitudinal data analysis, predictive modelling and the development of reproducible analytical methods and open-source tools.
<br>
View full publication record on Google Scholar:
<a href="https://scholar.google.com/citations?user=Jqnu-8kAAAAJ&hl=en"
   target="_blank"
   rel="noopener noreferrer"
   class="btn btn--primary">
  Google Scholar
</a>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



